<ng-container *ngIf="artists; then loadedArtist; else notLoadedArtist">
</ng-container>

<ng-template #loadedArtist>
    <div id="search">
        <input type="text" [(ngModel)]="searchInput" (keyup)="searchArtist()" placeholder="Search for an artist" />
    </div>
    <div class="artists-container">
        <ng-container *ngFor="let artist of artists">
            <app-artist [artist]="artist"></app-artist>
        </ng-container>
    </div>
</ng-template>

<ng-template #notLoadedArtist>
    <app-loading></app-loading>
</ng-template>