@import "../../style-variables.scss";

.artist-details-card {
  background-color: $secondary-color;
  display: flex;
  flex-wrap: wrap;
  color: $font-color-secondary;

  .artist-details-image {
    background-color: darken($base-color, 80%);
    padding: 20px;
    margin: 0px;
    opacity: 0.8;
    flex-grow: 1;
  }

  h1, h2 {
    -webkit-text-fill-color: $font-color-main;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $base-color;

    padding-left: 20px;
    margin: 0px;
  }

  h1 {
    margin-top: 20px;
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }
  
}

@media only screen and (min-width: 1920px) {
  .artist-details-card {
    .artist-details-image {
      background-color: $base-color;
      flex-grow: 1;
    }

    .artist-details-top-tracks {
      width: 600px;
    }
  }
}
