@import '../../style-variables.scss';

.artist-card {
    width: 295px;
    margin: 0px 5px 10px 5px;
    text-align: center;
    
    a {
        text-decoration: none;
    }

    .artist-image {
        img {
            width: 100%;
        }
    }

    h2 {
        color: $font-color-sub;
        margin: 0px;
    }

    h3 {
        color: darken( $font-color-sub, 40% );
    }
}

.artist-card:hover {
    background-color: lighten( $base-color, 5% );
    filter: grayscale(100%);

    h2 {
        color: lighten($font-color-sub, 100% );
    }

    h3 {color: lighten($font-color-sub, 100% );
    }
}
