@import "../../style-variables.scss";

#not-found {
    background-color: lighten($base-color, 10%);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

    a {
        text-decoration: none;

        img {
            width: 100%;
        }

        h1 {
            font-size: 3rem;
            width: 100%;
            text-align: center;
            color: darken($base-color, 80%);
        }
    }
}
