@import '../../style-variables.scss';

#loading-gif {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: $loading-color;

    img {
        width: 300px;
        position: relative;
        left: 2.5%;
        top: 2.5%;
    }
}